.questions{
    .ask{
        font-weight: 600;
        .italic{
            font-style: italic;
        }
    }
    .marked{
        text-decoration: line-through;
    }
    .ans{
        .show-ans{
            color: blue;
            cursor: pointer;
        }
        .hide-ans{
            color: green;
            cursor: pointer;
        }
    }
    margin: 0.5rem 0;
}